* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    background-image: url('../assets/img/back-w2.webp');
    background-size: 400px;
}

.draw-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.pokemon {
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 20px 20px 0 0;
    padding: 5px;
}

.ready {
    display: flex;
    align-items: center;
    justify-content: end;
}

.ready button, .listo-btn {
    width: auto;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    background-color: #ffffff;
    color: #000000;
    border-color: #F4F2F2;
    border-radius: 10px;
    cursor: pointer;
}

.ready button i {
    margin-right: 5px;
}

.toolbar button {
    border-radius: 10px;
    background-color: #ffffff;
    color: #000000;
    border-color: #F4F2F2;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.color {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    flex: 0 0 30px;
    scroll-snap-align: start;
    border-color: #F4F2F2;
    cursor: pointer;
}

button:hover {
    background-color: #bbbbbb;
}

button .active {
    background-color: #000000;
    color: white;
}

.size {
    display: flex;
    padding: 10px 50px;
    align-items: center;
    background-color: white;
    border-radius: 0 0 25px 25px;
}

.size i {
    margin: 4px;
}

.lienzo,
.drawingCanvas {
    box-sizing: border-box;
    height: 100%;
    /* Resto de tus estilos */
}

.lienzo {
    border-radius: 0 0 20px 20px;
    border: 7px solid black;
    padding: 5px;
    background-color: white;
    width: 100%;
    flex-grow: 1;
}

.drawingCanvas {
    touch-action: none;
}

.colors {
    background-color: black;
}

.toolbar {
    background-color: red;
    border-radius: 25px 25px 0 0;
}

input[type="color"] {
    border-radius: 5px;
    padding: 0;
    border: 4px solid;
    border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red) 1;
    border-color: transparent;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

.colorButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* Para hacer el botón circular */
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    /* Fondo de arcoíris */
    border: none;
    cursor: pointer;
    flex: 0 0 30px;
    scroll-snap-align: start;
}

.dialog-showPoke {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.dialog-showPoke img {
    height: 40vh;
}

.dialog-showPoke menu {
    padding: 0;
}

/* Estilos para pantallas pequeñas (como teléfonos) */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .toolbar,
    .colors {
        display: flex;
        gap: 20px;
        max-width: 100%;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        align-items: center;
        scroll-padding: 1rem;
        padding: 1rem;
    }

    button {
        flex: 0 0 40px;
    }

    .options {
        margin-bottom: 5px;
    }

    .ready button {
        width: 100%;
        justify-content: center;
        flex: none;
    }

    .dialog-showPoke img {
        width: 50vw;
        height: auto;
    }
}

/* Estilos para tabletas y dispositivos medianos */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
}

/* Estilos para pantallas grandes (como computadoras de escritorio) */
@media (min-width: 1024px) {
    body {
        font-size: 18px;
        display: flex;
        flex-direction: row;
    }

    .options {
        margin-right: 8px;
        min-width: 80px;
        max-width: 170px;
    }

    .size {
        padding: 10px 10px;
    }

    .toolbar,
    .colors {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        flex-wrap: wrap;
    }
}