:root {
    --back-color: #ffffff;
    --back-color-hover: #ddd;
    --border-color: #ccc;
    --color: #000000;
}

/* Style the tab */
.tab {
    display: flex;
    overflow: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--back-color);
    color: var(--color);
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: var(--color);
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--back-color-hover);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--border-color);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid var(--border-color);
    border-top: none;
}